[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
manim = "*"
jupyter-manim = "*"
jupyterlab = "*"
manim-fonts = "*"
manim-slides = "*"

[dev-packages]

[requires]
python_version = "3.11"
